.invest-form {
  margin: 0 auto;
  font-size: 0.564cm;
  font-family: "Roboto";
  color: rgb(58, 59, 60);
  line-height: 2.002;
}

.hide {
  display: none;
}

#drop-button {
  color: rgb(144, 146, 148);

  :hover {
    cursor: pointer;
  }

  .arr {
    display: inline-block;
    border: solid rgb(144, 146, 148);
    border-width: 0 3px 3px 0;
    padding: 3px;
  }

  .arr-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .arr-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}